@page
@model books_app.Pages.AddModel
@{
}

<h1>Add</h1>

<h2>Add Author</h2>
<form method="post">
    <div>
        <label for="firstName">FirstName:</label>
        <input type="text" id="firstName" asp-for="Author.FirstName" required minlength="2" />
    </div>
    <div>
        <label for="lastName">LastName:</label>
        <input type="text" id="lastName" asp-for="Author.LastName" required minlength="2" />
    </div>
    <div>
        <label for="birthDate">BirthDate:</label>
        <input type="date" id="birthDate" asp-for="Author.DateOfBirth" required />
    </div>
    <button type="submit" asp-page-handler="SaveAuthor">Save Author</button>
</form>

<h2>Add Book</h2>
<form method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" required minlength="2" asp-for="Book.Title"/>
    </div>
    <div>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" required pattern="978-\d{10}" asp-for="Book.ISBN"/>
    </div>
    <div>
        <label for="publishYear">PublishYear:</label>
        <input type="date" id="publishYear" required asp-for="Book.PublishYear" />
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" min="0" step="0.01" asp-for="Book.Price"/>
    </div>
    <div>
        <label for="authorId">Author:</label>
        <select id="authorId" required asp-for="Book.AuthorId">
            <option value="">Select Author</option>
            <option value="0">0</option>
        </select>
    </div>
    <button type="submit" asp-page-handler="SaveBook">Save Book</button>
</form>
