@page
@model books_app.Pages.AddAuthorModel
@{
}

<div class="container mt-4">
    <h1 class="mb-4">Add Author</h1>
    @if (!string.IsNullOrEmpty(Model.InfoMessage))
    {
        <div class="alert alert-info">@Model.InfoMessage</div>
    }
    <form method="post" class="mb-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label for="firstName" class="form-label">FirstName:</label>
            <input type="text" id="firstName" asp-for="Author.FirstName" class="form-control" />
            <span asp-validation-for="Author.FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">LastName:</label>
            <input type="text" id="lastName" asp-for="Author.LastName" class="form-control" />
            <span asp-validation-for="Author.LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">BirthDate:</label>
            <input type="date" id="birthDate" asp-for="Author.DateOfBirth" class="form-control" />
            <span asp-validation-for="Author.DateOfBirth" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Author</button>
    </form>
</div>

<partial name="_ValidationScriptsPartial" />
