@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <h1 class="display-4">Book library</h1>
    <a href="/Library" class="btn btn-primary">Go to library!</a>
</div>
